.wrapper {
  width: 100%;
  position: relative;
  text-align: start;
  margin-bottom: 20px;
  transition: height 0.3s ease-in-out;
}
.wrapper label {
  display: block;
  font-size: small;
}

.wrapper input {
  width: 100%;
  height: 40px;
  border: unset;
  border-bottom: 2px solid #f4f4f4;
}
.wrapper input:focus {
  border: unset;
  outline: none;
  border-bottom: 2px solid #4da1a9;
}

.inputWrapper {
  position: relative;
  width: 100%;
}
.inputWrapper .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  left: 0;
  color: #828282;
}

.inputWrapper input {
  padding-left: 30px;
}

.errorMessage {
  color: rgb(165, 0, 0);
  font-size: smaller;
}
